:root {
  --white: #fff;
  --black: #000000;
  --blue: #67EFEF;
  --grey: #666;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background: var(--black);
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  padding: 50px;
  box-sizing: border-box;
}

#header_left {
  width: 180px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

header img {
  width: 123px;
}

ul {
  font-family: 'Orbitron';
  display: flex;
  gap: 70px;
}

ul li a {
  color: var(--blue);
  font-size: 21.736px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

ul li a:hover {
  color: var(--white);
}

.section_1 {
  background-image: url(assets/hero.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 720px;
  align-items: center;
  display: flex;
}

#hero_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 655px;
  padding: 0 0 0 128px;
}

#hero_title p {
  color: var(--blue);
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h1 {
  color: var(--white);
  font-family: 'Anton';
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.541%; /* 170.933px */
}

.sec2_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 0 128px;
}

h2 {
  color: var(--white);
  font-family: "Bebas Neue";
  font-size: 88.073px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sec2_title p {
  color: var(--blue);
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sec2_inside {
  background-image: url(assets/sec2bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 350px;
  display: flex;
  justify-content: center;
}

#characters {
  display: flex;
  gap: 100px;
  height: 590px;
  margin-top: -100px;
}

.portal {
  background-image: url(assets/portal.png);
  height: 590px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in;
}

.portal:hover {
  transform: scale(1.08);
}

.portal img:nth-child(2) {
  position: absolute;
  top: -150px;
  right: -30px;
  transform: scale(0.8);
}

.portal img:nth-child(3) {
  position: absolute;
  bottom: -100px;
  left: -50px;
}

.section_3 {
  height: 1410px;
  margin-top: 100px;
}

.sec3_inside {
  background-image: url(assets/comic_bg.png);
  height: 1448px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.spiderweb {
  background-image: url(assets/spiderweb.png);
  background-repeat: no-repeat;
  width: 1291px;
  height: 1185px;
  margin-top: -300px;
  position: relative;
}

.glow, .glow2, .glow3 {
  background-image: url(assets/loop.png);
  background-repeat: no-repeat;
  width: 323px;
  height: 329px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.glow p, .glow2 p, .glow3 p {
  color: var(--white);
  font-family: 'Anton';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 212px;
  text-align: center;
}

.glow {
  right: 100px;
  top: 120px;
}

.glow2 {
  left: 200px;
  top: 300px;
}

.glow3 {
  left: 500px;
  top: 650px;
}

.glow:hover, .glow2:hover, .glow3:hover {
  transform: scale(1.07);
}

.footer {
  background: #000;
  padding: 60px 0 30px;
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 200px;
  font-family: "Orbitron", sans-serif;
}

.footer_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footer_col h3 {
  color: var(--blue);
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "Anton";
}

.footer_col h4 {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 12px;
}

.footer_col p {
  color: #aaa;
  font-size: 14px;
  width: 180px;
  line-height: 1.5;
}

.footer_col ul {
  list-style: none;
}

.footer_col ul li {
  margin-bottom: 8px;
}

.footer_col ul li a {
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.footer_col ul li a:hover {
  color: var(--blue);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials img {
  width: 28px;
  height: 28px;
  filter: brightness(1000%) saturate(0);
  transition: all 0.3s ease;
}

.socials img:hover {
  transform: scale(1.2);
}

.footer_bottom {
  text-align: center;
  margin-top: 40px;
  color: var(--grey);
  font-size: 13px;
}

.characters_page {
  position: relative;
  display: flex;
  justify-content: center;
}

.spider_gif {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: -99;
}

#left_image {
  width: 773px;
  height: 941px;
  padding: 27px 27px 27px 50px;
}

#character_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 533px;
  justify-content: center;
}

#character_content p {
  width: 533px;
height: 292px;
color: #FFF;
font-family: Orbitron;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 133.541%; /* 32.05px */
}

.name_tag {
  width: 359px;
height: 246px;
}

.character_figure {
  width: 207px;
height: 332.147px;
}
