:root {
  --white: #fff;
  --black: #000000;
  --blue: #67EFEF;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background: var(--black);
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
}

#header_left {
  width: 196.712px;
  height: auto;
  background-size: cover;
  background-position: center;
}

ul {
  font-family: 'Orbitron';
  display: flex;
  gap: 70px;
}

ul li a {
  color: var(--blue);
  font-size: 21.736px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  text-decoration: none;
}

.section_1 {
  background-image: url(assets/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 1440px;
}

#hero_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 655px;
  padding: 0 0 0 128px;
}

#hero_title p {
  color: var(--blue);
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h1 {
  color: var(--white);
  font-family: 'Anton';
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.541%; /* 170.933px */
}

.sec2_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h2 {
  color: #FFF;
  font-family: "Bebas Neue";
  font-size: 88.073px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sec2_title p {
  color: #67EFEF;
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}