:root {
  --white: #fff;
  --black: #000000;
  --blue: #67EFEF;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  color: var(--black);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1290px;
  height: 123px;
}