:root {
  --white: #fff;
  --black: #000000;
  --blue: #67EFEF;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background: var(--black);
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
}

#header_left {
  width: 196.712px;
  height: auto;
  background-size: cover;
  background-position: center;
}

ul {
  font-family: 'Orbitron';
  display: flex;
  gap: 70px;
}

ul li a {
  color: var(--blue);
  font-size: 21.736px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  text-decoration: none;
}

.section_1 {
  background-image: url(assets/hero.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
}

#hero_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 655px;
  padding: 0 0 0 128px;
}

#hero_title p {
  color: var(--blue);
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h1 {
  color: var(--white);
  font-family: 'Anton';
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.541%; /* 170.933px */
}

.sec2_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 0 128px;
}

h2 {
  color: var(--white);
  font-family: "Bebas Neue";
  font-size: 88.073px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sec2_title p {
  color: var(--blue);
  font-family: 'Orbitron';
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.sec2_inside {
  background-image: url(assets/sec2bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 350px;
  display: flex;
  justify-content: center;
}

#characters {
  display: flex;
  gap: 100px;
  height: 590px;
  margin-top: -100px;
}

.portal {
  background-image: url(assets/portal.png);
  height: 590px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.portal img:nth-child(2) {
  position: absolute;
  top: -150px;
  right: -30px;
}


.portal img:nth-child(3) {
  position: absolute;
  bottom: -100px;
  left: -50px;
}