:root {
  --white: #fff;
  --black: #000000;
  --blue: #67EFEF;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background: var(--black);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1290px;
  height: 123px;
}

#header_left {
  width: 196.712px;
  height: auto;
  background-size: cover;
  background-position: center;
}

ul {
  font-family: 'Orbitron';
  display: flex;
  gap: 70px;
}

ul li a {
  color: var(--blue);
  font-size: 21.736px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  text-decoration: none;
}